
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_1270011727903CAF47CC6D5CC32000F5-if00

[mcu uno]
serial: /dev/serial/by-id/usb-Arduino__www.arduino.cc__0043_75833353035351A0D181-if00
pin_map: arduino

[printer]
kinematics: cartesian
max_velocity: 400
max_accel: 500
max_z_velocity: 10
max_z_accel: 100

[bed_screws]
screw1: 117, 14
screw2: 67, 150
screw3: 167, 150


################
### Steppers ###
################

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
step_distance: .010625
endstop_pin: tmc2209_stepper_x:virtual_endstop # P1.29
position_endstop: -34.5
position_min: -34.5
position_max: 236
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: P1.10
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250
diag_pin: P1.29
driver_SGTHRS: 100


[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
step_distance: .010625
endstop_pin: tmc2209_stepper_y:virtual_endstop # P1.28
position_endstop: -2
position_min: -2
position_max: 162
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: P1.9
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250
diag_pin: P1.28
driver_SGTHRS: 100


[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
step_distance: .0025
endstop_pin: !P1.27
position_endstop: 0.0
position_max: 135
homing_speed: 80

[tmc2209 stepper_z]
uart_pin: P1.8
microsteps: 16
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30
diag_pin: P1.27
#driver_SGTHRS: 250


#################
### Extruders ###
#################

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
heater_pin: P2.7
sensor_pin: P0.24
step_distance: .010314
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: NTC 100K beta 3950
control: pid
pid_Kp: 21.391
pid_Ki: 1.371
pid_Kd: 83.42
min_temp: 0
max_temp: 260

[tmc2209 extruder]
uart_pin: P1.4
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 5


[extruder1]
step_pin: P1.15
dir_pin: !P1.14
enable_pin: !P1.16
heater_pin: P2.4
sensor_pin: P0.23
step_distance: .010314
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: NTC 100K beta 3950
control: pid
pid_Kp: 20.532
pid_Ki: 1.329
pid_Kd: 79.304
min_temp: 0
max_temp: 260

[tmc2209 extruder1]
uart_pin: P1.1
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 5


####################
### Bed and Fans ###
####################

[heater_bed]
heater_pin: P2.5
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: P0.25
control: pid
pid_Kp: 60.939
pid_Ki: 0.679
pid_Kd: 1366.560
min_temp: -100
max_temp: 150

[fan]
pin: P2.3

[heater_fan extruder_fan]
pin: uno:ar8
heater: extruder
heater_temp: 60.0
fan_speed: 1.0

[heater_fan extruder1_fan]
pin: uno:ar12
heater: extruder1
heater_temp: 60.0
fan_speed: 1.0

#####################
###    Chamber    ###
#####################
[temperature_sensor chamber]
sensor_type: BME280
i2c_mcu: uno
gcode_id: C

#####################
###   NeoPixels   ###
#####################
[neopixel caselight]
pin: P1.24
chain_count: 8
color_order_GRB: True
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.

[idle_timeout]
timeout: 3600
gcode: 
    PRINT MSG="GOING IDLE" ;Idle
    TURN_OFF_HEATERS

########################################
# Homing
########################################
[homing_override]
axes: xyz
gcode:
   ; Homing Override
   G90
   {% if params.Y is defined %}
   PRINT MSG="HOMING Y..." 
   G28 Y
   {% endif %}
   {% if params.X is defined %}
   PRINT MSG="HOMING X..." 
   G28 X
   G0 X0 Y0 F3600
   M400
   {% endif %}
   {% if params.Z is defined %}
   PRINT MSG="HOMING Z..." 
   G28 Z
   M400
   {% endif %}
   {% if params.X is not defined and params.Y is not defined and params.Z is not defined %}
   PRINT MSG="HOMING X Y Z..." 
   G28 Y
   G28 X
   G0 X0 Y0 F3600
   M400
   G28 Z
   M400
   {% endif %}
   M400
   PRINT MSG="HOMING COMPLETE..." 

########################################
# GCode Macros
########################################

[delayed_gcode STARTUP]
initial_duration: 1
gcode: LIGHTS_ALERT

[gcode_macro PRINT]
default_parameter_MSG: ""
gcode: {printer.gcode.action_respond_info(MSG)}

[gcode_macro ENSURE_HOMED]
default_parameter_AXES: XYZ
gcode:
    PRINT MSG="G28 {AXES|join(' ')}"
    G28 {AXES|join(" ")}
#    G90
#    {% set vars = { 'homed': true } %}
#    {% for AXIS in AXES|upper %}
#        {% if AXIS not in printer.toolhead.homed_axes|upper %}
#            {% if vars.update({'homed': false}) %}{% endif %}
#        {% endif %}
#    {% endfor %}
#    {% if vars.homed == true %}
#        PRINT MSG="AXES '{AXES}' ALREADY HOMED"
#    {% else %}
#        PRINT MSG="AXES '{AXES}' NOT ALL HOMED, HOMING NOW..."
#        G28 ; Home axes
#    {% endif %}
    M400

[gcode_macro HOME_TO_WAIT]
gcode:
    ENSURE_HOMED ; Home XYZ
    PRINT MSG="MOVING TO WAIT POSITION..."
    G90
    G0 X236 Y0 Z100 F3300 ; Move to wait position
    
# Script to change back to the Extruder 1
[gcode_macro T0]
gcode:
    ; T0
    SET_GCODE_OFFSET X=0                        # Clear X offset
    ACTIVATE_EXTRUDER EXTRUDER=extruder         # 

[gcode_macro T1]
gcode:
    ; T1
    SET_GCODE_OFFSET X=-34.5                # 
    ACTIVATE_EXTRUDER EXTRUDER=extruder1    # 
    
[gcode_macro QUERY_SENSOR]
default_parameter_NAME: bme280 chamber
gcode: 
    PRINT MSG="GETTING SENSOR STATUS..."
    PRINT MSG=" Temperature: {"%.2f"|format(printer[NAME].temperature)} C"
    PRINT MSG=" Pressure: {"%.2f"|format(printer[NAME].pressure)} hPa"
    PRINT MSG=" Humidity: {"%.2f"|format(printer[NAME].humidity)}%"
    M400
    
[gcode_macro PURGE]
default_parameter_X: 10
default_parameter_Y: 1
default_parameter_DIST: 100
gcode:
    ; PURGE
    PRINT MSG="PURGING..." 
    M400
    G90
    G0 X{X} Y{Y} F9000 ; Move to front left corner of bed
    G1 Z0.2 F6000 ; Move down to purge
    G1 X{(X | int) + (DIST | int)} Y{Y} E24 F2000 ; Extrude a line of filament across the front edge of the bed
    G1 X{(X | int) + (DIST | int) + 10} Y{Y} F180 ; Wait for ooze
    G1 X{(X | int) + (DIST | int) + 20} Y{Y} F5000 ; Fast wipe
    ; G1 Z1 F100 ; Lift
    M400
    PRINT MSG="PURGE COMPLETE"
    
[gcode_macro PREHEAT]
default_parameter_SOAK: 300
gcode:
    ; PREHEAT
    PRINT MSG="PREHEATING..."
    LIGHTS R=125 G=0 B=0 ; Red lights while heating up...
    {% if T0 is defined %}
    M104 T0 S{T0} ; Set left extruder temp
    {% endif %}
    {% if T1 is defined %}
    M104 T1 S{T1} ; Set right extruder1 temp
    {% endif %}
    {% if B is defined %}
    M140 S{B} ; Set bed temp;
    {% endif %}
    HOME_TO_WAIT ; Home XYZ and move to wait position
    {% if B is defined %}
    M190 S{B} ; Wait for bed to stabilize
    {% endif %}
    {% if T0 is defined %}
    M109 T0 S{T0} ; Wait for left extruder to reach target temp
    {% endif %}
    {% if T1 is defined %}
    M109 T1 S{T1} ; Wait for right extruder1 to reach target temp
    {% endif %}
    {% if (SOAK|int) > 0 %}
        PRINT MSG="SOAKING..." 
        {% for i in range(SOAK|int) %}
         G4 P{1000}
         {% if (i % 3) == 2 %}
          M105
         {% endif %}
        {% endfor %}
    {% endif %}
    PRINT MSG="PREHEAT COMPLETE..." 
    LIGHTS_ALERT

[gcode_macro START_PRINT]
default_parameter_SOAK: 120 ; time in secods to heat soak after pre-heat
gcode:
    ; START PRINT
    PRINT MSG="STARTING PRINT..."
    LIGHTS_ALERT
    {% if B is not defined %}
     {% set B = 0 %}
    {% endif %}
    {% if T0 is defined or T1 is defined %}
     {% if NOPREHEAT is not defined %}
      {% if T0 is defined and T1 is defined %}
      PREHEAT B={B} T0={T0} T1={T1} SOAK={SOAK} ; Preheat nozzles
      {% elif T0 is defined %}
      PREHEAT B={B} T0={T0} SOAK={SOAK} ; Preheat nozzle
      {% elif T1 is defined %}
      PREHEAT B={B} T1={T1} SOAK={SOAK} ; Preheat nozzles
      {% endif %}
     {% endif %}
     ; BEGIN PURGE
     G0 X0 Y0 F6000
     M400
     {% if T0 is defined %}
      T0
      G92 E0 ; Zero extruders
      PURGE X=10 Y=0 DIST=100
      G92 E0 ; Zero extruders again
     {% endif %}
     {% if T1 is defined %}
      T1
      G92 E0 ; Zero extruders
      PURGE X=10 Y=1 DIST=100
      G92 E0 ; Zero extruders again
     {% endif %}
     G90
     ; G0 Z0.5 F3300 ; Position nozzle
     M400
    {% endif %}
    PRINT MSG="READY TO PRINT"

[gcode_macro END_PRINT]
gcode:
    PRINT MSG="COMPLETING PRINT..."
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    TURN_OFF_HEATERS               ; heaters off
    M107                           ; fan off
    G90
    G0 X0 Y0 Z135 F20000           ;move X/Y to min endstops, Z to max, so the head is out of the way
    ; M84 ;steppers off
    M400
    PRINT MSG="PRINT COMPLETE..."
    LIGHTS_ALERT
    M400
    STATUS
    
[gcode_macro LIGHTS]
default_parameter_NAME: caselight
default_parameter_R: 0
default_parameter_G: 0
default_parameter_B: 0
default_parameter_I: 0
default_parameter_T: 1
gcode:
    {% if I|int == 0 %}
    SET_LED LED={NAME} RED={R|float / 255} GREEN={G|float / 255} BLUE={B|float / 255} TRANSMIT={T}
    {% else %}
    SET_LED LED={NAME} RED={R|float / 255} GREEN={G|float / 255} BLUE={B|float / 255} INDEX={I} TRANSMIT={T}
    {% endif %}

[gcode_macro LIGHTS_ON]
default_parameter_NAME: caselight
default_parameter_BRIGHT: 100
gcode: LIGHTS NAME={NAME} R={BRIGHT} G={BRIGHT} B={BRIGHT}

[gcode_macro LIGHTS_OFF]
default_parameter_NAME: caselight
gcode: LIGHTS NAME={NAME} R=0 G=0 B=0

[gcode_macro LIGHTS_ALERT]
gcode:
    LIGHTS R=200 G=0 B=0
    G4 P1000
    LIGHTS R=0 G=200 B=0
    G4 P1000
    LIGHTS R=0 G=0 B=200
    G4 P1000
    LIGHTS_OFF 
    G4 P500
    LIGHTS R=100 G=100 B=100
    M400

[gcode_macro LIGHTS_STROBE]
default_parameter_NAME: caselight
default_parameter_R: 50
default_parameter_G: 50
default_parameter_B: 50
default_parameter_N: 8
default_parameter_T: 5
default_parameter_S: 100
gcode:
    {% for i in range(((T|int * 1000) / S|int)|int) %}
        {% set direction = 1 %}
        {% if (i / N|int)|int % 2 == 1 %}
            {% set direction = -1 %}
        {% endif %}
        {% set index = (i % N|int) + 1 %}
        {% for p in range(1, N|int + 1) %}
            {% if p == N|int %}
                {% set transmit = 1 %}
            {% else %}
                {% set transmit = 0 %}
            {% endif %}
            {% set curIndex = index %}
            {% if direction == -1 %}
                {% set curIndex = (N|int + 1) - index %}
            {% endif %}
            {% if curIndex == p %}
                LIGHTS NAME={NAME} R={R} G={G} B={B} I={p} T={transmit}
            {% else %}
                {% set level = 1.0 - (0.33 * ((curIndex - p)|abs + 1)) %}
                {% if level < 0 %}
                    {% set level = 0 %}
                {% endif %}
                LIGHTS NAME={NAME} R={R|int * level} G={G|int * level} B={B|int * level} I={p} T={transmit}
            {% endif %}
        {% endfor %}
        G4 P{S}
        {% if ((i * S|int) / 1000) % 4 == 3 %}
        M105
        {% endif %}
    {% endfor %}
    LIGHTS NAME={NAME} R=0 G=0 B=0 T=1
    M400

[gcode_macro KIT]
default_parameter_T: 10
gcode:
    PRINT MSG="Yes Michael?"
    LIGHTS_STROBE T={T} S=100 R=100 G=0 B=0
    M400
    
[gcode_macro LOAD_FILAMENT]
default_parameter_T: 0
default_parameter_TEMP: 200
gcode:
    PREHEAT T{T}={TEMP} SOAK=0
    G90
    G21
    G0 X154 Y81 F3600
    M400
    PRINT MSG="LOAD FILAMENT NOW..." ;
    LIGHTS_ALERT ;
    G21 ;Let the printer know you are following this point with metric values
    G90 ;Let the printer know you are using absolute positioning
    G92 E0 ;Reset the position of the extruder
    G1 E50 F500 ; Extrude a short distance before unloading to avoid blob forming
    G1 E50 F250 ;Retract 700 mm of filament at 2000 mm/minute speed, change 700 to the lenght of your bowdentube + 100 mm.
    G92 E0 ;Reset the position of the extruder
    
[gcode_macro UNLOAD_FILAMENT]
default_parameter_T: 0
default_parameter_TEMP: 200
gcode:
    PREHEAT T{T}={TEMP} SOAK=0
    G90
    G21
    G0 X154 Y81 F3600
    M400
    G21 ;Let the printer know you are following this point with metric values
    G90 ;Let the printer know you are using absolute positioning
    G92 E0 ;Reset the position of the extruder
    G1 E5 F100 ; Extrude a short distance before unloading to avoid blob forming
    G92 E0 ;Reset the position of the extruder
    G1 E-50 F2000 ;Retract 100 mm of filament at 2000 mm/minute speed
    G1 E-50 F2000 ;Retract 100 mm of filament at 2000 mm/minute speed
    G92 E0 ;Reset the position of the extruder
    LIGHTS_ALERT ;
    PRINT MSG="REMOVE FILAMENT NOW..." ;
