# This file contains common pin mappings for the BIGTREETECH SKR V1.4
# board. To use this config, the firmware should be compiled for the
# LPC1768 or LPC1769(Turbo).

# See the example.cfg file for a description of available parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_1270011727903CAF47CC6D5CC32000F5-if00

[mcu uno]
serial: /dev/serial/by-id/usb-Arduino__www.arduino.cc__0043_75833353035351A0D181-if00
pin_map: arduino

[printer]
kinematics: cartesian
max_velocity: 400
max_accel: 500
max_z_velocity: 10
max_z_accel: 100

[bed_screws]
screw1: 100, 14
screw2: 50, 150
screw3: 150, 150


################
### Steppers ###
################

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
step_distance: .010625
endstop_pin: tmc2209_stepper_x:virtual_endstop # P1.29
position_endstop: -34.5
position_min: -34.5
position_max: 236
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: P1.10
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250
diag_pin: P1.29
driver_SGTHRS: 100


[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
step_distance: .010625
endstop_pin: tmc2209_stepper_y:virtual_endstop # P1.28
position_endstop: 0
position_max: 164
homing_speed: 50
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: P1.9
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250
diag_pin: P1.28
driver_SGTHRS: 100


[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
step_distance: .0025
endstop_pin: !P1.27
position_endstop: 0.0
position_max: 135
homing_speed: 80

[tmc2209 stepper_z]
uart_pin: P1.8
microsteps: 16
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30
diag_pin: P1.27
#driver_SGTHRS: 250


#################
### Extruders ###
#################

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
heater_pin: P2.7
sensor_pin: P0.24
step_distance: .010314
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: NTC 100K beta 3950
control: pid
pid_Kp: 21.391
pid_Ki: 1.371
pid_Kd: 83.42
min_temp: 0
max_temp: 260

[tmc2209 extruder]
uart_pin: P1.4
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 5


[extruder1]
step_pin: P1.15
dir_pin: !P1.14
enable_pin: !P1.16
heater_pin: P2.4
sensor_pin: P0.23
step_distance: .010314
nozzle_diameter: 0.400
filament_diameter: 1.750
sensor_type: NTC 100K beta 3950
control: pid
pid_Kp: 20.532
pid_Ki: 1.329
pid_Kd: 79.304
min_temp: 0
max_temp: 260

[tmc2209 extruder1]
uart_pin: P1.1
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 5


####################
### Bed and Fans ###
####################

[heater_bed]
heater_pin: P2.5
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: P0.25
control: pid
pid_Kp: 60.939
pid_Ki: 0.679
pid_Kd: 1366.560
min_temp: -100
max_temp: 150

[fan]
pin: P2.3

[heater_fan extruder_fan]
pin: uno:ar8
heater: extruder
heater_temp: 60.0
fan_speed: 1.0

[heater_fan extruder1_fan]
pin: uno:ar12
heater: extruder1
heater_temp: 60.0
fan_speed: 1.0


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

# See the sample-lcd.cfg file for definitions of common LCD displays.

########################################
# Homing
########################################
[homing_override]
axes: xyz
gcode:
   ; Homing Override
   G90
   {% if params.Y is defined %}
   PRINT MSG="HOMING Y..." 
   G28 Y
   {% endif %}
   {% if params.X is defined %}
   PRINT MSG="HOMING X..." 
   G28 X
   G0 X0 Y0 F3600
   M400
   {% endif %}
   {% if params.Z is defined %}
   PRINT MSG="HOMING Z..." 
   G28 Z
   M400
   {% endif %}
   {% if params.X is not defined and params.Y is not defined and params.Z is not defined %}
   PRINT MSG="HOMING X Y Z..." 
   G28 Y
   G28 X
   G0 X0 Y0 F3600
   M400
   G28 Z
   M400
   {% endif %}
   M400
   PRINT MSG="HOMING COMPLETE..." 

########################################
# GCode Macros
########################################
[gcode_macro PRINT]
default_parameter_MSG: ""
gcode: {printer.gcode.action_respond_info(MSG)}

#[gcode_macro M117]
#gcode: PRINT MSG="{get_commandline()}"

[gcode_macro CALIBRATE_EXTRUDER]
default_parameter_EXTRUDER: extruder
default_parameter_TEMP: 200
default_parameter_DIST: 100
gcode:
    ; CALIBRATE EXTRUDER
    ACTIVATE_EXTRUDER EXTRUDER={EXTRUDER}
    {printer.gcode.action_respond_info("CALIBRATING " + EXTRUDER + "\nSETTING TARGET TEMP: " + TEMP + " C")}
    M109 S{TEMP}
    {printer.gcode.action_respond_info("AND EXTRUDING " + DIST + "mm OF FILAMENT...")}
    M83
    G1 E50 F50
    G1 E50 F50

        
# Script to change back to the Extruder 1
[gcode_macro T0]
gcode:
    ; T0
    SET_GCODE_OFFSET X=0                        # Clear X offset
    ACTIVATE_EXTRUDER EXTRUDER=extruder         # 

[gcode_macro T1]
gcode:
    ; T1
    SET_GCODE_OFFSET X=-34.5                # 
    ACTIVATE_EXTRUDER EXTRUDER=extruder1    # 


[gcode_macro PURGE]
default_parameter_X: 10
default_parameter_Y: 0
default_parameter_DIST: 100
gcode:
    ; PURGE
    PRINT MSG="PURGING..." 
    M400
    G90
    G0 X{X} Y{Y} F9000 ; Move to front left corner of bed
    G1 Z0.2 F6000 ; Move down to purge
    G1 X{(X | int) + (DIST | int)} Y{Y} E24 F2000 ; Extrude a line of filament across the front edge of the bed
    G1 X{(X | int) + (DIST | int) + 10} Y{Y} F180 ; Wait for ooze
    G1 X{(X | int) + (DIST | int) + 20} Y{Y} F5000 ; Fast wipe
    G1 Z1 F100 ; Lift
    M400
    PRINT MSG="PURGE COMPLETE"
    
[gcode_macro PREHEAT]
default_parameter_T0: 0
default_parameter_T1: 0
default_parameter_B: 0
default_parameter_SOAK: 300
gcode:
    ; PREHEAT
    PRINT MSG="PREHEATING..." 
    M104 T0 S{T0} ; Set left extruder temp
    M104 T1 S{T1} ; Set right extruder1 temp
    M190 S{B} ; Wait for bed to stabilize
    M109 T0 S{T0} ; Wait for left extruder to reach target temp
    M109 T1 S{T1} ; Wait for right extruder1 to reach target temp
    {% if SOAK is defined and SOAK > 0 %}
        PRINT MSG="SOAKING..." 
        {% for i in range(SOAK|int) %}
         G4 P{1000}
         {% if (i % 2) == 1 %}
          M105
         {% endif %}
        {% endfor %}
    {% endif %}
    PRINT MSG="PREHEAT COMPLETE..." 

[gcode_macro START_PRINT]
default_parameter_SOAK: 120 ; time in secods to heat soak after pre-heat
gcode:
    ; START PRINT
    PRINT MSG="STARTING PRINT..." 
    {% if B is not defined %}
     {% set B = 0 %}
    {% endif %}
    {% if T0 is defined or T1 is defined %}
     G28 ; Home axes
     G90
     G0 X100 Y0 Z100 F3300 ; Move to wait position
     {% if NOPREHEAT is not defined %}
      {% if T0 is defined and T1 is defined %}
      PREHEAT B={B} T0={T0} T1={T1} SOAK={SOAK} ; Preheat nozzles
      {% elif T0 is defined %}
      PREHEAT B={B} T0={T0} T1=0 SOAK={SOAK} ; Preheat nozzle
      {% elif T1 is defined %}
      PREHEAT B={B} T0=0 T1={T1} SOAK={SOAK} ; Preheat nozzles
      {% endif %}
     {% endif %}
     ; BEGIN PURGE
     G0 X0 Y0 F6000
     M400
     {% if T0 is defined %}
      T0
      G92 E0 ; Zero extruders
      PURGE X=10 Y=0 DIST=100
      G92 E0 ; Zero extruders again
     {% endif %}
     {% if T1 is defined %}
      T1
      G92 E0 ; Zero extruders
      PURGE X=10 Y=1 DIST=100
      G92 E0 ; Zero extruders again
     {% endif %}
     G90
     G0 Z0.5 F3300 ; Position nozzle
     M400
    {% endif %}
    PRINT MSG="READY TO PRINT"

[gcode_macro END_PRINT]
gcode:
    PRINT MSG="COMPLETING PRINT..."
    M104 S0 ;extruder heater off
    M140 S0 ;heated bed heater off (if you have it)
    G90
    G0 X0 Y0 Z135 ;move X/Y to min endstops, Z to max, so the head is out of the way
    M84 ;steppers off
    M400
    PRINT MSG="PRINT COMPLETE..."
    M400
    STATUS
